<h3>Criar plano de viagem</h3>
<%= form_for(@trip_plan)  do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <%= f.submit %>
  <br>
  <%= link_to 'Voltar', trip_plans_path %>
<% end %>
