<div class="container padding-top">
  <h3><%= @trip_plan.title %></h3>
  <p>De: <%= I18n.l(@trip_plan.start_date) %> a <%= I18n.l(@trip_plan.end_date) %></p>
  <p><%= @trip_plan.description %></p>
  <p><%= @trip_plan.add_itinerary_link %></p>
  <%= image_tag @trip_plan.photo.url(:medium) %>
  <% if flash.any? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= flash[:success] %>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% @trip_plan.itineraries.each do |itinerary| %>
    <div class="container itinerary">
      <h4><%= itinerary.location %></h4>
      <li> De <%= I18n.l(itinerary.start_date) %>
        a <%= I18n.l(itinerary.end_date) %></li>
    </div>
  <% end %>
  <br /><br />
  <% if user_signed_in? %>
    <div>
      <%= @trip_plan.pendent_matches %>
      <%= @trip_plan.accepted_matches %>
      <% unless @trip_plan.owner?(current_user) %>
      <% if !@match.is_a?(Match) && @match.any?  %>
        <% @match.each do |match| %>
          Status da solicitação de match:
          <p><%= Match.human_attribute_name(match.status) %> </p>
        <% end %>
      <% elsif @match.new_record? %>
        <div class="form-control col-sm-6">
          <%= form_for [@trip_plan, @match] do |f| %>
            <div>
              <%= f.label :comment, "Envie uma mensagem" %> <br />
              <%= f.text_area :comment, class: 'form-control'%>
            </div>
            <div class="padding-top">
              <%= f.submit "Solicite um match", class: 'btn btn-custom btn-lg' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= link_to 'Voltar', trip_plans_path %>
</div>
