<h3><%= @trip_plan.title %></h3>
<div>
  <% if @match.nil?  %>
    <%= form_for [@trip_plan, @match_new] do |f| %>
      <div>
        <%= f.label :comment, "Envie uma mensagem" %> <br />
        <%= f.text_area :comment %>
      </div>
      <div>
        <%= f.submit "Solicite um match" %>
      </div>
      <hr>
    <% end %>
  <% else  %>
    <p>Status: <%= @match.status %> </p>
    <hr>
  <% end %>
</div>
<h3>Roteiros:</h3>
<%= link_to 'Adiciona Roteiro', new_trip_plan_itinerary_path(@trip_plan) %>
<hr>
<% @trip_plan.itineraries.each do |itinerary| %>
  <h5><%= itinerary.location %></h5>
  <li><%= itinerary.season %></li>
  <li><%= "De #{itinerary.start_date.strftime('%d/%m/%Y')}
  à #{itinerary.end_date.strftime('%d/%m/%Y')}" %></li>
  <hr>
<% end %>

<%= link_to 'Voltar', trip_plans_path %>
