<%= flash[:notice] %>
<h3><%= @trip_plan.title %></h3>
<% @trip_plan.itineraries.each do |itinerary| %>
  <h5><%= itinerary.location %></h5>
  <li><%= "De #{itinerary.start_date.strftime('%d/%m/%Y')}
  à #{itinerary.end_date.strftime('%d/%m/%Y')}" %></li>
<% end %>
 <br /> <br />
<div>
  <% if @trip_plan.user = current_user  %>
    <h5>Matches recebidos</h5>
    <% @matches.each do |match| %>
      <p><%= match.user.email %></p>
      <p><%= match.comment %></p>
      <p><%= match.status %></p>
    <% end %>
  <% else  %>
    <% if @match.empty?  %>
      <%= form_for [@trip_plan, @match_new] do |f| %>
        <div>
          <%= f.label :comment, "Envie uma mensagem" %> <br />
          <%= f.text_area :comment %>
        </div>
        <div>
          <%= f.submit "Solicite um match" %>
        </div>
      <% end %>
    <% else  %>
      <p>Status: <%= @match.status %> </p>
    <% end %>
  <% end %>
</div>
