<%= flash[:notice] %>
<h3><%= @trip_plan.title %></h3>
<% @trip_plan.itineraries.each do |itinerary| %>
  <h5><%= itinerary.location %></h5>
  <li><%= "De #{itinerary.start_date.strftime('%d/%m/%Y')}
  à #{itinerary.end_date.strftime('%d/%m/%Y')}" %></li>
<% end %>
<br /> <br />
<% if user_signed_in? %>
<div>
  <% if @trip_plan.user == current_user && @matches %>
    <h5>Matches recebidos</h5> <br/>
    <% @matches.each do |match| %>
      <div>
        <p>Usuário: <%= match.user.email %></p>
        <p>Mensagem: <%= match.comment %></p>
        <p>Status: <%= match.status %></p>
      </div>
    <% end %>
  <% else %>
    <% if !@match.is_a?(Match) && @match.any?  %>
      <% @match.each do |match| %>
        Status da solicitação de match: <p><%= match.status %> </p>
      <% end %>
    <% elsif @match.is_a?(Match)   %>
      <%= form_for [@trip_plan, @match] do |f| %>
        <div>
          <%= f.label :comment, "Envie uma mensagem" %> <br />
          <%= f.text_area :comment %>
        </div>
        <div>
          <%= f.submit "Solicite um match" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
