<div class="padding-top">
  <div class="row">
    <div class="col-6">
      <h3><%= @trip_plan.title %></h3>
      <h4>Roteiros</h4>
        <%= @trip_plan.add_itinerary_link %>
      <% @trip_plan.itineraries.each do |itinerary| %>
        <h5><%=  itinerary.season %></h5>
        <h4><%= link_to itinerary.location, trip_plan_itinerary_path(itinerary)  %></h4>
        <li> De <%= I18n.l(itinerary.start_date) %>
          a <%= I18n.l(itinerary.end_date) %>
        </li>
      <% end %>
    </div>
    <div class="col-4">
      <%= image_tag @trip_plan.photo.url(:medium) %>
    </div>
  </div>
  <br /> <br />
  <% if user_signed_in? %>
    <div>
      <%= @trip_plan.pendent_matches %>
      <%= @trip_plan.accepted_matches %>
      <% unless @trip_plan.owner?(current_user) %>
        <% if !@match.is_a?(Match) && @match.any?  %>
          <% @match.each do |match| %>
            Status da solicitação de match: <p><%= Match.human_attribute_name(match.status) %> </p>
          <% end %>
        <% elsif @match.new_record?   %>
          <%= form_for [@trip_plan, @match] do |f| %>
            <div>
              <%= f.label :comment, "Envie uma mensagem" %> <br />
              <%= f.text_area :comment %>
            </div>
            <div>
              <%= f.submit "Solicite um match" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Voltar', trip_plans_path %>
</div>
