<%= flash[:errors] %>
<%= form_tag(search_path, method: 'get') do %>
  <%= label_tag(:location, 'Localização') %>
  <%= text_field_tag(:location, params[:location]) %>
  <%= label_tag(:start_date, 'Data inicial') %>
  <%= date_field_tag(:start_date, params[:start_date]) %>
  <%= label_tag(:end_date, 'Data final') %>
  <%= date_field_tag(:end_date, params[:end_date]) %>
  <%= submit_tag('Buscar') %>
<% end %>
<hr>
<% if !@itineraries.nil?%>
  <% if @itineraries.empty? %>
    <p>Nenhum resultado encontrado</p>
  <% else %>
    <p>Resultados encontrados: <%= @itineraries.count %></p>
    <% @itineraries.each do |itinerary| %>
    <h1><%= itinerary.trip_plan.title %></h1>
    <h2>Roteiro: <%= itinerary.location %></h2>
    <ul>
      <li>Data inicial: <%= I18n.l(itinerary.start_date) %></li>
      <li>Data final: <%= I18n.l(itinerary.end_date) %></li>
    </ul>
    <%= link_to 'Mais detalhes',trip_plan_path(itinerary.trip_plan) %>
    <% end %>
  <% end %>
<% end %>
