<h5><%= tourist_spot.title %></h5>
<ul>
  <li> <%= tourist_spot.comment %> </li>
  <li> <%= tourist_spot.location %> </li>
  <li> <%= tourist_spot.activity_date.strftime('%d/%m/%Y') %> </li>
  <li> <%= tourist_spot.spot_type %> </li>
  <li> <%= number_to_currency(tourist_spot.value, unit: "R$", separator: ",", delimiter: "") %> </li>
</ul>
