<section class="position-relative overflow-hidden text-center bg-light hero" data-src="https://images.unsplash.com/photo-1506377585622-bedcbb027afc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd182254b0d137801c80b6ed5a68545a&auto=format&fit=crop&w=1050&q=80, https://images.unsplash.com/photo-1499123785106-343e69e68db1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f946973b7550539f4be0f89693b5cb1c&auto=format&fit=crop&w=1053&q=80, https://images.unsplash.com/photo-1469796466635-455ede028aca?ixlib=rb-0.3.5&s=848cd8b0a7687bae961a08d66f3abb81&auto=format&fit=crop&w=1350&q=80, https://images.unsplash.com/photo-1496531693211-31c5234a5ea9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=26767cc689ecf946bbc1180836232fc8&auto=format&fit=crop&w=1050&q=80">
  <div class="col-md-11 p-lg-11 mx-auto my-11">
    <div class="hero__content">
      <header class="hero__header text-left">
        <h1 class="hero__title white-text">Encontre o seu roteiro ideal</h1>
        <p class="hero__paragraph"> <%= link_to 'Ver todos os Planos', trip_plans_path, class:"text-white text-shadow" %>
        </p>
      </header>
      <%= form_tag(search_path, method: 'get', class: 'form--line row') do %>
        <div class="input-group col-md-5 text-left">
          <%= label_tag(:location, 'Localização', class: 'display-block') %>
          <%= text_field_tag(:location, params[:location], class: 'display-block input__field') %>
        </div>
        <div class="input-group col-md-2 text-left">
          <%= label_tag(:start_date, 'Data inicial', class: 'display-block') %>
          <%= date_field_tag(:start_date, params[:start_date], class: 'display-block input__field') %>
        </div>
        <div class="input-group col-md-2 text-left">
          <%= label_tag(:end_date, 'Data final', class: 'display-block') %>
          <%= date_field_tag(:end_date, params[:end_date], class: 'display-block input__field') %>
        </div>
        <%= submit_tag('Buscar', class: 'button col-md-3') %>
      <% end %>
    </div>
  </div>
</section>

<section class="section--journey">
  <div class="container">
    <header class="section__header">
      <h1 class="section__title">
        Últimos roteiros cadastrados
      </h1>
    </header>
    <div class="section__body">
      <div class="row">
        <div class="col-md-4">
          <div class="media row">
            <div class="media__image col-md-8">
              <img src="https://images.unsplash.com/photo-1496531693211-31c5234a5ea9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=26767cc689ecf946bbc1180836232fc8&auto=format&fit=crop&w=300&q=80" alt="">
            </div>
            <div class="media__content col-md-4">
              <p class="media__paragraph">
                Essas acomodações tem as melhores avaliações.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media row">
            <div class="media__image col-md-8">
              <img src="https://images.unsplash.com/photo-1469796466635-455ede028aca?ixlib=rb-0.3.5&s=848cd8b0a7687bae961a08d66f3abb81&auto=format&fit=crop&w=300&q=80" alt="">
            </div>
            <div class="media__content col-md-4">
              <p class="media__paragraph">
                Essas acomodações tem as melhores avaliações.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
