<h1>Bem vindo ao TravelMatch</h1>

<%= form_tag('search', method: 'get') do %>
  <%= label_tag(:location, 'Localização:') %>
  <%= text_field_tag(:location) %>
  <%= label_tag(:start_date, 'Data inicial:') %>
  <%= text_field_tag(:start_date) %>
  <%= label_tag(:end_date, 'Data final:') %>
  <%= text_field_tag(:end_date) %>
  <%= submit_tag('Buscar') %>
<% end %>

<h1>Resultados encontrados</h1>
<% @itineraries.each do |itinerary| %>
  <h1> <%= itinerary.trip_plan.title %> </h1>
  <ul>
    <li>Data inicial: <%= itinerary.start_date %> </li>
    <li>Data final: <%= itinerary.end_date %> </li>
  </ul>
<% end %>
