<h5><%= meal.title %></h5>
<ul>
  <li> <%= meal.comment %> </li>
  <li> <%= meal.location %> </li>
  <li> <%= meal.activity_date.strftime('%d/%m/%Y') %> </li>
  <li> <%= meal.cuisine %> </li>
  <li> <%= meal.price_rating %> </li>
</ul>
