<h3>Meus Matches</h3>
<% if @matches.empty? %>
  <p>Você não possui nenhum match.</p>
<% else %>
  <% @matches.each do |match| %>
    <h4><%= match.trip_plan.title %></h4>
    <p>
      De: <%= I18n.l(match.trip_plan.start_date) %> a
      <%= I18n.l(match.trip_plan.end_date)%>
    </p>
    <p>Status: <%= Match.human_attribute_name(match.status)%></p>
  <% end  %>
<% end %>
<%= link_to 'Voltar', root_path %>
